---
title: Map of extinct species
---
<div id="map"></div>
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.29.0/mapbox-gl.css" rel="stylesheet" />
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.29.0/mapbox-gl.js"></script>
<style>
  #map {
    width: 100%;
    height: 75vh;
  }
</style>
<script>
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'https://free.tilehosting.com/styles/basic/style.json?key=5jrg7qiG03Ahgsu1jz5U',
    center: [0.0, 20.0],
    zoom: 1
  });

  var marker = new mapboxgl.Marker()
    .setLngLat([63.416667, -19.716667])
    .addTo(map);
</script>
